<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Logo</h1>
    <div class="flex-spacer"></div>

    <div id="context-actions-container">
      <!-- dynamically added through Cdk Portal -->
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav [opened]="true" [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Accounts</a>
        <a mat-list-item routerLink="analytics">Analytics</a>
        <a mat-list-item routerLink="admin">Admin</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
